@import url('//fonts.googleapis.com/css?family=Josefin+Slab');

.logo {
font-family: 'Josefin Slab' !important ;
font-size: 25px !important;
}

div.login { 
  text-align: left;
  position:absolute;
	width: 90%;
	max-width: 400px;
} 

.login .well {
	padding-left: 55px;
}

.login input {
	max-width: 250px;
}


div#pass {
  text-align: left;
  font-weight:bold;
  padding-left:2px;
}

input#Password {
  -webkit-text-security: disc;
}

.shiny-output-error {
  visibility: hidden;
}




