@import url('//fonts.googleapis.com/css?family=Josefin+Slab');

.logo {
font-family: 'Josefin Slab' !important ;
font-size: 25px !important;
  /* vertical-align: baseline !important; */
  /* height: 25px !important; */
  /* width: 25px !important; */
}

div.login { 
  text-align: left;
  position:absolute;
  margin-top: 15%;
	margin-left: 15%
} 

div#pass {
  text-align: left;
  font-weight:bold;
  padding-left:2px;
}

input#Password {
  -webkit-text-security: disc;
}

.shiny-output-error {
  visibility: hidden;
}




